* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #002339;
    color: #fff;
}

.containner {
    margin: 10%;
    width: 90%;
    max-width: 700px;
    margin-left: 8%;
}

.containner h1 {
    font-size: 50px;
    font-weight: 000;
}

.containner h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display {
    width: 90%;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 17px;
}

.display img {
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 25px;
}

button {
    width: 320px;
    height: 65px;
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 17px;
    cursor: pointer;
    margin-top: 50px;
}

button img {
    width: 40px;
    height: 40px;
    margin-right: 19px;
}